<h3 class="text-center pb-2">Mi perfil</h3>
<hr>

<div>
    <h4>{{fist_name}} {{last_name}}</h4>
    <hr>
    <p>Email: {{email}}</p>
    <p>Edad: {{age}}</p>
    <p>Tipo de cuenta: {{rol}}</p>
</div>